<DocsDemo as |demo|>
  <demo.example @name="validating-steps-basic-usage.hbs">
    <StepManager as |w|>
      <w.step>
        <input placeholder="Enter password" value={{this.password}}>

        <ControlGroup>
          <button
            type="button"
            {{on "click" (validate-transition w.transition-to-next with=this.checkPassword)}}
          >
            Check Password
          </button>
        </ControlGroup>
      </w.step>

      <w.step>
        Great job! You got the password right
      </w.step>
    </StepManager>
  </demo.example>

  <demo.snippet @name="validating-steps-basic-usage.hbs" />
  <demo.snippet @name="validating-steps-basic-usage.js" @label="component.js" />
</DocsDemo>
