@value --grey: #ddd;
@value --light-grey: #f8f8f8;

.tab-group {
  display: flex;
  border-bottom: 1px solid --grey;
  margin-bottom: 1px;

  > * {
    background: --grey;
    border: 1px solid --grey;
    color: black;
    margin-bottom: -1px;
    outline: none;
    padding: 10px 15px;
    text-decoration: none;

    &:hover {
      background: --light-grey;
    }

    &:not(:first-child) {
      border-left: none;
    }

    &[aria-pressed],
    &:global(.active) {
      background: white;
      border-bottom: 1px solid white;
    }
  }
}
