@value --grey: #ddd;
@value --light-grey: #f8f8f8;

.tab-group {
  display: flex;
  border-bottom: 1px solid --grey;
  margin-bottom: 1em;

  > * {
    background: --grey;
    border: 1px solid --grey;
    color: black;
    font-size: 0.9em;
    margin-bottom: -1px;
    padding: 0.7em 1em;
    text-decoration: none;

    &:focus,
    &:hover {
      background: --light-grey;
      outline: none;
    }

    &:not(:first-child) {
      border-left: none;
    }

    &[aria-pressed],
    &:global(.active) {
      background: white;
      border-bottom: 1px solid white;
      outline: none;
    }
  }
}
