@value --dark-grey, --grey, --blue from 'dummy/styles/colors.css';

@value wrap-width: 600px;

.header {
  background-color: --grey;
  border-bottom: 1px solid --dark-grey;
  padding-bottom: 1em;
  padding-top: 1em;
}

.header-wrapper {
  composes: page-width from 'dummy/styles/layout.css';

  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  font-weight: bold;
  font-size: 1.1em;
  flex-grow: 1;
}

.hamburger {
  cursor: pointer;

  @media (min-width: wrap-width) {
    display: none;
  }
}

.nav-items {
  display: none;
  flex-shrink: 0;
  width: 100%;

  &:global(.mobile-nav-expanded) {
    display: block;
  }

  @media (min-width: wrap-width) {
    display: block;
    flex-shrink: 1;
    width: auto;
  }
}

.nav-item {
  color: --blue;
  display: block;
  margin: 10px 0;
  width: 100%;

  @media (min-width: wrap-width) {
    display: inline;
    margin: 0;
    padding: 0 10px;
    width: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:visited {
    color: --blue;
  }

  &:global(.active) {
    font-weight: bold;
  }
}

.github-link {
  line-height: 0;
  margin-left: 10px;

  @media (min-width: wrap-width) {
    order: 2;
  }

  img {
    transition: transform 0.2s;
  }

  &:hover img {
    transform: scale(0.85);
  }
}

.outlet-wrapper {
  composes: page-width from 'dummy/styles/layout.css';
}
