<DocsDemo as |demo|>
  <demo.example @name="inactive-steps-example-1.hbs">
    <StepManager as |w|>
      {{#w.step name="first"}}
        <h1>The first step is active</h1>
      {{else}}
        <button
          type="button"
          {{action w.transition-to "first"}}
        >
          The first step is inactive. Activate it.
        </button>
      {{/w.step}}

      {{#w.step name="second"}}
        <h1>The second step is active</h1>
      {{else}}
        <button
          type="button"
          {{action w.transition-to "second"}}
        >
          The second step is inactive. Activate it.
        </button>
      {{/w.step}}
    </StepManager>
  </demo.example>

  <demo.snippet @name="inactive-steps-example-1.hbs" />
</DocsDemo>
