<DocsDemo as |demo|>
  <demo.example @name="demo-basic-wizard.hbs">
    <StepManager as |w|>
      <w.Step>
        This content is on the first step. You can only go forward.
      </w.Step>

      <w.Step>
        This content is on the second step. You can go forward or backward.
      </w.Step>

      <w.Step>
        This content is on the third step. You can only go backward.
      </w.Step>

      <ControlGroup>
        <button
          type="button"
          disabled={{not w.hasPreviousStep}}
          {{on "click" w.transition-to-previous}}
        >
          Previous
        </button>
        <button
          type="button"
          disabled={{not w.hasNextStep}}
          {{on "click" w.transition-to-next}}
        >
          Next
        </button>
      </ControlGroup>
    </StepManager>
  </demo.example>

  <demo.snippet @name="demo-basic-wizard.hbs" />
</DocsDemo>
