@value --dark-grey, --white, --black, --dark-aqua, --aqua from './colors.css';

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: --white;
  color: --black;
  font-family: Helvetica, 'sans-serif';
}

header,
div,
nav {
  box-sizing: border-box;
}

a {
  color: --aqua;
  text-decoration: none;

  &:visited {
    color: --aqua;
  }
}

button {
  background-color: --aqua;
  border-radius: 4px;
  border: 1px solid --dark-aqua;
  color: --white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-top: 10px;
  padding: 7px 10px;

  &:hover {
    background-color: --dark-aqua;
  }

  &:focus {
    outline: 0;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid --dark-grey;
  margin: 1em auto;
  width: 80%;
}

p {
  line-height: 1.3em;
}
