@value wiz-dark-grey, wiz-white, wiz-grey, wiz-orange, wiz-dark-orange from 'dummy/styles/colors.css';

@value stacked-breakpoint: 800px;

.usage-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;

  @media (min-width: stacked-breakpoint) {
    flex-direction: row;
  }
}

.fill-parent {
  width: 100%;

  @media (min-width: stacked-breakpoint) {
    width: auto;
  }
}

.slide {
  composes: fill-parent;

  display: flex;
  position: relative;
}

.slide-inner {
  composes: fill-parent;

  border-radius: 4px;
  padding: 10px;
}

.rendered {
  composes: slide;

  z-index: 2;
}

.rendered-inner {
  composes: slide-inner;

  background-color: wiz-grey;
  border: 1px solid wiz-dark-grey;

  @media (min-width: stacked-breakpoint) {
    margin-top: 20px;
  }
}

.header {
  background-color: wiz-orange;
  border-bottom: 1px solid wiz-dark-orange;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: wiz-white;
  font-size: 1.6em;
  margin-bottom: 10px;
  margin: -10px;
  padding: 10px;
}

.code-example {
  composes: slide;

  margin-top: 10px;
  z-index: 1;

  @media (min-width: stacked-breakpoint) {
    margin-top: 0;
  }
}

.code-example-inner {
  composes: slide-inner;

  background-color: wiz-white;
  border: 1px solid wiz-grey;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  @media (min-width: stacked-breakpoint) {
    margin-bottom: 20px;
    margin-left: -10px;
    padding-left: 20px;
  }
}

.code-file-links {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid wiz-grey;
}

.code-file-link {
  border-left: 1px solid wiz-grey;
  border-right: 1px solid wiz-grey;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 1px solid wiz-grey;
  display: inline-block;
  font-size: .8em;
  padding: 10px;
  margin-bottom: -1px;

  &:hover {
    background-color: wiz-grey;
  }

  &:global(.active) {
    border-bottom: 1px solid wiz-white;
    font-weight: bold;
  }
}
