{{#usage-example title='Basic Usage'}}
  {{#block-slot 'rendered'}}
    <p>
      Hey! Thanks for checking out <b>ember-steps</b>!  I hope you find it an easy-to-use but powerful
      means for creating multi-step flows through your Ember application.
    </p>

    <p>
      Below is the most basic usage of the addon – a simple series of steps, with a single button to
      cycle through them.  Check out the links in the header above for more advanced features and
      their usage.
    </p>

    <hr />

    <div local-class="step-manager">
      {{!-- BEGIN-SNIPPET basic-usage --}}
      {{#step-manager as |w|}}
        {{#w.step}}
          This is the first step
        {{/w.step}}

        {{#w.step}}
          This is the second step
        {{/w.step}}

        {{#w.step}}
          This is the third step
        {{/w.step}}

        <button {{action w.transition-to-next}}>
          Next step, please!
        </button>
      {{/step-manager}}
      {{!-- END-SNIPPET --}}
    </div>
  {{/block-slot}}

  {{#block-slot 'code-template'}}
    {{code-snippet name='basic-usage.hbs'}}
  {{/block-slot}}
{{/usage-example}}

