<DocsDemo as |demo|>
  <demo.example @name="dynamic-definition-basic-example.hbs">
    <StepManager as |w|>
      {{#each this.data as |content|}}
        <w.step>
          {{content}}
        </w.step>
      {{/each}}

      <ControlGroup>
        <button
          type="button"
          {{on "click" w.transition-to-previous}}
        >
          Previous
        </button>
        <button
          type="button"
          {{on "click" w.transition-to-next}}
        >
          Next
        </button>
      </ControlGroup>
    </StepManager>
  </demo.example>

  <demo.snippet @name="dynamic-definition-basic-example.js" @label="component.js" />
  <demo.snippet @name="dynamic-definition-basic-example.hbs" />
</DocsDemo>
