<button
  type="button"
  class="
    docs-rounded-full docs-border-2 docs-border-grey docs-h-4 docs-w-4 focus:docs-outline-none
    {{if @isActive 'docs-bg-grey' 'docs-bg-grey-lightest'}}
  "
  ...attributes
>
  {{yield}}
</button>